<ul>
  <li>
    {{link-to "React" "org.repo.issues" "react"}}
  </li>
  <li>
    {{link-to "React-native" "org.repo.issues" "react-native"}}
  </li>
  <li>
    {{link-to "Watchman" "org.repo.issues" "watchman"}}
  </li>
</ul>

{{outlet}}