<h2>My favorite orgs</h2>

<ul>
  {{#each model as |org|}}
    <li>
      <span {{action "favoriteClicked" org}}>[ Favortite ]</span>
      {{link-to org.id "org" org.id}}
    </li>
  {{/each}}
</ul>

{{outlet}}